#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-size:18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  line-height: 1.5;
}

	#info .info-wrapper {
		padding:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;

	}
	
	#info a {
		text-decoration:none;
	}
	
	#info p {
		margin:5px 0 0 0;
	}


.container { 
	position: relative; 
	width: 960px; 
	margin: 0 auto; 
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;	
}

.works{
	width: 98vw;
}
 
#filters {
	margin: 0;
	padding:0;
  list-style:none;
  margin-top: 15vh;
	padding-bottom: 50px;
	margin-left: 4vw;
}

	#filters li {
		float:left;
		text-align: center;
	}
	
	#filters li span {
		display: block;
		padding:0px 20px;		
		text-decoration:none;
		color:#666;
    cursor: pointer;
    line-height: 1.5;
    transition: all 0.5s;
    font-size: 16px;
	}
	
	#filters li span.active {
    color: white;
	}
 
#portfoliolist {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		height: 18vw;
		margin:1%;
		display:none;
		// display: inline-block;
		overflow:hidden;
		vertical-align: middle;
		text-align: left!important;
	}
}

#portfoliolist .portfolio .img{
	height: 18vw;
	width: auto;
	/* min-width: 15vw; */
	transition: all 0.5s;
	display: inline-block;
	// object-fit: cover;
	span{
		width: auto!important;
		height: 18vw !important;
	}
	img {
		width: auto!important;
		height: 18vw!important;
	}
}

	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
		display: inline-block;
	}

	.portfolio img {
    width:100%;
		position: relative;
		top:0;
		vertical-align: middle;
	}
	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:100%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: rgb(0,0,0,0.8);
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:white;
			position: absolute;
			z-index:500;
      padding:20px 10px;
      bottom: 0;
    }
    
    .portfolio .text-title {
      font-size:2.5vw;
    }
			
			.portfolio .text-category {
				display:block;
        font-size:12px;
        padding-top: 12px;
			}
	
	.portfolio:hover .label {
     opacity: 1;
	}

	


/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 1200px) {
	.container { 
		width: 95%; 
  }

	#filters{
		display: flex;
		justify-content: center;
		margin-left: 0;
	}
  
  .portfolio-wrapper{
    max-height: 100%;
  }
	
	#portfoliolist .portfolio {
    width:96%;
		padding: 4%;
		height: 100%;
	}	
	
	#portfoliolist .portfolio .img{
		height: 100%;
		width: 100%;
		span {
			width: 100% !important;
			height: 100% !important;
		}
	
		img {
			width: 100% !important;
			height: 100% !important;
		}
	}
  
  #portfoliolist .portfolio{
    margin-top: 0!important;
  }

	#ads {
		display:none;
  }
  
  #filters li span {
    font-size: 14px;
		padding:0px 12px;	
  }

  .portfolio .text-title {
    font-size:36px;
  }
  
  .portfolio .label-bg{
    opacity: 0.5;
  }

  .portfolio .label{
    opacity: 1;
  }
	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		width: 70%;
	}
	
	#ads {
		display:none;
	}
	
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

a{
  text-decoration: none;
  color: white;
}